@import "../../styles/abstracts/variables";

.books-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-size: 0.625rem;
  }
  tr {
    &:hover {
      background-color: $hover-bg-color;
    }
  }
  th,
  td {
    border-bottom: 1px solid $border-color-cell;
    width: 14.375rem;
    height: 8.641rem;
    text-align: left;
    vertical-align: unset;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $text-color;
  }

  th {
    height: 3.25rem;
    padding-top: 1.5rem;
    color: $text-color;
    border-bottom: 1px solid $border-color;
    font-weight: 700;
    background-color: white !important;
  }

  .title-cell {
    color: #333333;
    text-align: left;
    font-weight: bold;
  }

  .not-found {
    text-align: center;
    vertical-align: middle;
  }
}
