$app-max-width: 1200px;
$header-bg: #f5f5f5;
$border-color: #D9D9D9;
$border-color-cell: #F2F2F2;
$font-family: 'Helvetica', Arial, sans-serif;
$star-size: 1.5rem;
$star-color: #ccc;
$star-color-favorited: #f39c12;
$hover-bg-color: #f0f0f0;
.app-container {
  margin-left: 5rem;
  margin-top: 5rem;
  max-width: $app-max-width;
  font-family: $font-family;

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;


    .title {
      margin-bottom: 5rem;
      margin-top: 0;
      font-size: 2.125rem;
      width: 100%;
    }

  }
  .genre-filter {
    label {
      margin-right: 0.5rem;
    }

    select {
      padding: 0.3rem 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid $border-color;
    }
  }

  .loading-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .books-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      //Note: figma specify 10px but that seems way too small
      font-size: 0.875rem;
    }

    th,
    td {
      border-bottom: 1px solid $border-color-cell;
      width: 14.375rem;
      height: 8.641rem;
      text-align: left;
      vertical-align: unset;
      box-sizing:border-box;
      padding: 1rem;
    }
    th {
      height: 3.25rem;
      color: #757575;
      border-bottom: 1px solid $border-color;
      font-weight: 400;
    }
    th.rank-col {
      width: 3.75rem;
      text-align: center;
    }

    .title-cell {
      text-align: left;
      font-weight: bold;
    }

    .favorite-cell {
        width: 7.5rem;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: $hover-bg-color;
        }
      }

    .favorite-star {
      font-size: $star-size;
      color: $star-color;
      margin-left: 2rem;
      transition: color 0.3s;

      &.favorited {
        color: $star-color-favorited;
      }

      &:hover {
        color: darken($star-color, 10%);
      }
    }
  }
}
.autocomplete-container {
    position: relative;
    width: 100%;
    max-width: 18.75rem;
  }
  
  #genre-autocomplete {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: .25rem;
    padding-right: 1rem;
  }
  
  .clear-button {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #999;
    &:hover {
      color: #333;
    }
  }
  
  .suggestions-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9001;
  }
  
  .suggestion-item {
    padding: 0.625rem;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  strong {
    font-weight: bold;
  }