.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  .loading-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    animation: spin 1s linear infinite;
  }

  .loading-text {
    text-align: center;
    font-size: 0.813rem;
    line-height: 1rem;
    vertical-align: middle;
    color: #9e9e9e;
  }
}

/* Keyframes for spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
