a {
    color: inherit;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
  
    &:focus {
      outline: none;
    }
  }
  